<div class="app-container">
  <form>
    <div class="notify-error">
      {{ errorMsg }}
    </div>
    <div>
      <label>Current Value:{{ number }}</label>
      <input type="button" value="Decrease" (click)="decrease()" [disabled]="inProgress">
    </div>

    <div>
      <label for="value">New Value:</label>
      <input type="number" id="value" name="value" value="{{ newValue }}" (change)="newValue = $event.target.value">
      <input type="button" value="Set" [disabled]="inProgress" (click)="updateValue()">
    </div>
  </form> 
</div>